In [1]:
import pandas as pd
import numpy as np

In [2]:
pokemons_df = pd.read_csv('../data/pokemon.csv', index_col=0)

In [7]:
pokemons_df.head(5)

,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
abilities,,,,,,,,,,,,,,,,,,,,,
"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,...,88.1,1,65,65,45,grass,poison,6.9,1,0
"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,...,88.1,2,80,80,60,grass,poison,13.0,1,0
"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,...,88.1,3,122,120,80,grass,poison,100.0,1,0
"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,0.50,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,0.50,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [8]:
pokemons_df.columns

Index(['against_bug', 'against_dark', 'against_dragon', 'against_electric',
       'against_fairy', 'against_fight', 'against_fire', 'against_flying',
       'against_ghost', 'against_grass', 'against_ground', 'against_ice',
       'against_normal', 'against_poison', 'against_psychic', 'against_rock',
       'against_steel', 'against_water', 'attack', 'base_egg_steps',
       'base_happiness', 'base_total', 'capture_rate', 'classfication',
       'defense', 'experience_growth', 'height_m', 'hp', 'japanese_name',
       'name', 'percentage_male', 'pokedex_number', 'sp_attack', 'sp_defense',
       'speed', 'type1', 'type2', 'weight_kg', 'generation', 'is_legendary'],
      dtype='object')

In [10]:
pokemons_df2 = pd.read_csv('../data/pokemon.csv', index_col=0, usecols=['name', 'generation', 'type1', 'type2', 'hp', 'speed', 'sp_attack', 'sp_defense'])
pokemons_df2

           name  sp_attack  sp_defense  speed    type1   type2  generation
hp
45    Bulbasaur         65          65     45    grass  poison           1
60      Ivysaur         80          80     60    grass  poison           1
80     Venusaur        122         120     80    grass  poison           1
39   Charmander         60          50     65     fire     NaN           1
58   Charmeleon         80          65     80     fire     NaN           1
..          ...        ...         ...    ...      ...     ...         ...
97   Celesteela        107         101     61    steel  flying           7
59      Kartana         59          31    109    grass   steel           7
223    Guzzlord         97          53     43     dark  dragon           7
97     Necrozma        127          89     79  psychic     NaN           7
80     Magearna        130         115     65    steel   fairy           7

[801 rows x 7 columns]

In [ ]:
# Variant 6

In [13]:
pokemons_df2.index

Int64Index([ 45,  60,  80,  39,  58,  78,  44,  59,  79,  45,
            ...
            137, 109, 107,  71,  83,  97,  59, 223,  97,  80],
           dtype='int64', name='hp', length=801)

In [12]:
pokemons_df2.columns

Index(['name', 'sp_attack', 'sp_defense', 'speed', 'type1', 'type2',
       'generation'],
      dtype='object')

In [15]:
N1 = 8
N2 = 85

In [16]:
pokemons_df2.iloc[N1:N2,:]

          name  sp_attack  sp_defense  speed     type1   type2  generation
hp
79   Blastoise        135         115     78     water     NaN           1
45    Caterpie         20          20     45       bug     NaN           1
50     Metapod         25          25     30       bug     NaN           1
60  Butterfree         90          80     70       bug  flying           1
40      Weedle         20          20     50       bug  poison           1
..         ...        ...         ...    ...       ...     ...         ...
25   Magnemite         95          55     45  electric   steel           1
50    Magneton        120          70     70  electric   steel           1
52  Farfetch'd         58          62     60    normal  flying           1
35       Doduo         35          35     75    normal  flying           1
60      Dodrio         60          60    110    normal  flying           1

[77 rows x 7 columns]

In [26]:
pokemons_df2.loc[:,"generation":"speed":-1]

     generation   type2    type1  speed
hp
45            1  poison    grass     45
60            1  poison    grass     60
80            1  poison    grass     80
39            1     NaN     fire     65
58            1     NaN     fire     80
..          ...     ...      ...    ...
97            7  flying    steel     61
59            7   steel    grass    109
223           7  dragon     dark     43
97            7     NaN  psychic     79
80            7   fairy    steel     65

[801 rows x 4 columns]